= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  = f.input :username
  = f.input :email
  = f.input :password,  as: :password
  = f.input :password_confirmation, as: :password
  = f.button :submit, :class => 'btn btn-inverse'
