= semantic_form_for @post do |f|
  = f.inputs do
    = f.input :title
    = f.input :body, :as => :text, :input_html => { :class => "autogrow" }
  = f.buttons do
    = f.commit_button

#textile
  %button#show-textref formatting help
  #textile-ref{:style => "display: none;"}
    %table
      %tr
        %th= "you type:"
        %th= "you see:"
      - @textile_ref.each do |line|
        %tr
          %td= line
          %td= raw RedCloth.new(line).to_html
