.view-posts
  .post
    .wrapper
      %h3.title
        = @post.title
      .author
        -if @post.user
          = "by: #{@post.user.username}"
      .categories
        -unless @post.categories.blank?
          Category: 
          -@post.categories.each do |cat|
            %a{:href => "/posts/category/#{cat.name}"}
              =cat.name
      .body
        = @post.html_body
      .footer

  -if logged_in?
    %fieldset#administer
      %ul
        %li
          = button_to "Edit", edit_post_path(@post), :method => :get
        %li
          = button_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete
