= simple_form_for @post, html: {class: 'form-horizontal content'} do |f|
  = f.input :title
  = f.input :body, as: :text, input_html: { :class => "autogrow" }
  = render 'partials/textile_help'
  = f.input :categories_string, label: "Categories", input_html: { data: {autocomplete_source: Category.order(:name).map(&:name)} }
  = f.button :submit, class: 'btn btn-inverse'
