.view-posts
  - @posts.each do |post|
    .block.post
      .wrapper
        %h3.title
          %a{:href=>"#{content_post_path(post)}"}= post.title
        .author
          -if post.user
            = "by: #{post.user.username}"
        .categories
          -unless post.categories.blank?
            Category:
            |
            -post.categories.each do |cat|
              = link_to cat.name, category_path(cat)
              |
        .body
          = post.html_body

%h4.post-archive
  =link_to '- Post Archive -', post_archive_path
