!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body
    %header
      .inside
        %nav
          =navigation_menu

    .container-fluid
      #site-name
        %h1
          %a{:href => "/"}
            %img{:src=>'/assets/logo.png'}
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      .row-fluid
        .span3
          %aside
            =render 'layouts/twitter-feed'
        .span9
          = yield
    %footer
      - if logged_in?
        %p= button_to "New Post", new_content_post_path, class: 'btn btn-inverse'
