!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body
    %header
      .inside
        %nav
          =navigation_menu

    #main.container-fluid
      #site-name
        %h1
          %a{:href => "/"}
            %img{:src=>'/assets/logo.png'}
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      .row-fluid
        .span3
          %aside
            =render 'layouts/twitter-feed'
        .span9
          = yield
    %footer
      &copy; #{Time.now.year}
      %ul{:class => 'nav nav-pills'}
        - if logged_in?
          %li{:class => "#{'active' if request.fullpath == new_content_post_path}"}
            = link_to "New Post", new_content_post_path
          %li{:class => "#{'active' if request.fullpath == logout_path}"}
            = link_to 'Log Out', logout_path
        -else
          %li{:class => "#{'active' if request.fullpath == login_path}"}
            = link_to 'Log In', login_path
